# Node modules
node_modules
**/node_modules

package-lock.json
**/package-lock.json

# Build artifacts
build
**/build
dist
**/dist

# Git & system files
.git
.gitignore
.DS_Store

# Misc
data
npm-debug.log*
yarn-debug.log*
lerna-debug.log*
.cache
*.tsbuildinfo


