<ph-window #createPopup [title]="'NEW'" style="position: absolute; min-width: 572px;">
    <ph-form>
        <ph-dropdown [label]="'Type'" [(value)]="newEntity.type" (valueChange)="this.onTypeChange($event)">
            <ph-dropdown-item [label]="'Squad'" [value]="MapEntityType.FRIEND"></ph-dropdown-item>
            <ph-dropdown-item [label]="'Enemy'" [value]="MapEntityType.FOE"></ph-dropdown-item>
            <ph-dropdown-item [label]="'Objective'" [value]="MapEntityType.OBJECT"></ph-dropdown-item>
        </ph-dropdown>
    @switch (newEntity.type) {
      @case(MapEntityType.FRIEND){
        <ph-input [label]="'Squad'" [(value)]="this.newEntity.entity.name"></ph-input>
        <ph-input [label]="'Callsign'" [(value)]="this.newEntity.entity.callsign"></ph-input>
        <ph-input [label]="'Tracker ID'" [(value)]="this.newEntity.entity.trackerId"></ph-input>
        <ph-textarea [label]="'Description'" [(value)]="this.newEntity.notes"></ph-textarea>
        <ph-select-list [label]="'Symbol'" [(value)]="this.newEntity.symbol">
          <ph-select-item [value]="0" > <img src="symbols/crosshair.svg" /></ph-select-item>
          <ph-select-item [value]="1" > <img src="symbols/medkit.svg" /></ph-select-item>
          <ph-select-item [value]="2" > <img src="symbols/tools.svg" /></ph-select-item>
          <ph-select-item [value]="3" > <img src="symbols/leader.svg" /></ph-select-item>
        </ph-select-list>
        <ph-slider [label]="'Combattants'" [(value)]="this.newEntity.entity.combattants" [ticks]="['1', '5', '10', '15', '20', '25', '30']" [tickValues]="[0, 0, 1, 2, 3, 4, 5]"></ph-slider>
      } 
      @case(MapEntityType.FOE){
        <ph-slider [label]="'Combattants'" [(value)]="this.newEntity.entity.combattants" [ticks]="['5', '10', '15', '20', '25', '30']" [tickValues]="[0, 1, 2, 3, 4, 5]"></ph-slider>
      }
      @case(MapEntityType.OBJECT){
        <ph-input [label]="'Name'" [(value)]="this.newEntity.entity.name"></ph-input>
        <ph-textarea [label]="'Description'" [(value)]="this.newEntity.entity.description"></ph-textarea>
      }
    }
    </ph-form>
    <ph-button-list>
        <ph-button (click)="submit()">APPLY</ph-button>
        <ph-button (click)="cancel()">CANCEL</ph-button>
    </ph-button-list>
</ph-window>