<ph-window [title]="'EDIT'" style="position: absolute; min-width: 572px;">
    <ph-form>
         @switch (editEntity.type) {
            @case(MapEntityType.FRIEND){
                <ph-input [label]="'Squad'" [(value)]="editEntity.entity.name"></ph-input>
                <ph-input [label]="'Callsign'" [(value)]="editEntity.entity.callsign"></ph-input>
                <ph-input [label]="'Tracker ID'" [(value)]="editEntity.entity.trackerId"></ph-input>
                <ph-textarea [label]="'Description'" [(value)]="editEntity.notes"></ph-textarea>
                <ph-select-list [label]="'Symbol'" [(value)]="editEntity.symbol">
                    <ph-select-item [value]="0" >
                        <img src="symbols/crosshair.svg" />
                    </ph-select-item>
                    <ph-select-item [value]="1" >
                        <img src="symbols/crosshair.svg" />
                    </ph-select-item>
                </ph-select-list>
                <ph-slider [label]="'Combattants'" [(value)]="editEntity.entity.combattants" [ticks]="['1', '5', '10', '15', '20', '25', '30']" [tickValues]="[0, 0, 1, 2, 3, 4, 5]"></ph-slider>
            }
            @case(MapEntityType.FOE){
                <ph-slider [label]="'Combattants'" [(value)]="editEntity.entity.combattants" [ticks]="['5', '10', '15', '20', '25', '30']" [tickValues]="[0, 1, 2, 3, 4, 5]"></ph-slider>
            }
            @case(MapEntityType.OBJECT){
                <ph-input [label]="'Name'" [(value)]="editEntity.entity.name"></ph-input>
                <ph-textarea [label]="'Description'" [(value)]="editEntity.entity.description"></ph-textarea>
            }
        }
    </ph-form>
    <ph-button-list>
        <ph-button (click)="submit()">APPLY</ph-button>
        <ph-button (click)="cancel()">CANCEL</ph-button>
    </ph-button-list>
</ph-window>